<!DOCTYPE html>
<!--
Awesome Header by Mark Stafki!
-->
<html
        lang="en-US"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>

<div th:replace="header :: myNav"></div>

<!-- Main Body of Page -->
<!-- Dynamic table for Persons -->
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl mt-5">
            <div class="col-12 m-1 text-center"
                 th:if="${!errors.isEmpty()}">
                <p class="alert alert-danger" th:each="error : ${errors}"
                   th:text="${error.message}">Error message</p>
            </div>
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-4">
                                <h2>Manage <b>Members</b></h2>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="myInput" class="form-control" placeholder="Search.."/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn addPersonButton add" id="AddButton" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                                    <span>Add New Person</span></a>
                                <!-- <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                   data-bs-toggle="dropdown" aria-expanded="false"></i> <span>Sort By</span></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" th:href="@{persons}">Clear Filters</a></li>
                                    <li><a class="dropdown-item" th:href="@{personsAZfirstName}">A-Z (First name)</a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{personsAZlastName}">A-Z (Last name)</a></li>
                                </ul> -->
                            </div>

                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Laps</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:each="person : ${persons}">
                            <td th:text="${person.id}">ID</td>
                            <td th:text="${person.firstName + ' ' + person.lastName}">Name</td>
                            <td th:text="${person.contact}">Contact</td>
                            <td><a th:href="@{lapDetails/(id=${person.id})}" class="LBtn"><i class='bx bx-run'
                              data-toggle="tooltip"
                              title="Laps"></i></a></td>
                            <td>
                                <a th:href="@{getPerson/(id=${person.id})}" class="personDBtn"><i
                                        class='bx bx-dots-vertical-rounded' data-toggle="tooltip"
                                        title="Details"></i></a>
                                <a th:href="@{getPerson/(id=${person.id})}" class="personEBtn"><i class='bx bx-edit-alt'
                                                                                                  data-toggle="tooltip"
                                                                                                  title="Edit"></i></a>
                                <a th:href="@{getPerson/(id=${person.id})}" class="personDEBTN"><i class='bx bx-trash'
                                                                                                   data-toggle="tooltip"
                                                                                                   title="Delete"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="clearfix">
                        <!-- <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div> -->
                        <ul class="pagination">
                            <!-- <li class="page-item disabled"><a href="#">Previous</a></li> -->
                            <!-- <li class="page-item" th:each="i : ${#numbers.sequence(1,students.size-1)}"><a th:href="@{/(page=${i})}" th:text="${i}" class="page-link">1</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Modal HTML-->
        <div class="addPersonForm">
            <form th:action="@{addPerson}" method="post">
                <div id="addPersonModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Person</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName"/>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" required/>
                                </div>
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="text" class="form-control" id="contact" name="contact" required/>
                                </div>
                                <!-- <div class="form-group">
                                    <label>Person Type</label>
                                    <select id="personType" name="personTypeId" class="form-control"
                                            onchange="yesnoCheck(this);" required>
                                        <option th:each="personType : ${personTypes}"
                                                th:value="${personType.id}"
                                                th:text="${personType.statusName}">Person Type
                                        </option>
                                    </select>
                                </div>
                                <div id="ifStudent" style="display: none;">
                                    <div class="form-group">
                                        <label>Grade</label>
                                        <select id="grade" name="gradeId" class="form-control">
                                            <option th:each="grade : ${grades}"
                                                    th:value="${grade.id}"
                                                    th:text="${grade.gradeName}">Grades
                                            </option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label>Family</label>
                                    <select id="family" name="familyId" class="selectpicker mt-1 mb-2 w-100"
                                            title="Select family..." data-live-search="true">
                                        <option value="0">None</option>
                                        <option th:each="family : ${families}"
                                                th:value="${family.id}"
                                                th:text="${family.familyName}">Family Name
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default close" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-secondary" value="Add">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Edit Modal HTML -->
        <div class="editPersonForm">
            <form th:action="@{editPerson}" method="post">
                <div id="editPersonModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Person</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" value="" id="id" name="id"/>
                                    <label>First Name</label>
                                    <input type="text" value="" class="form-control" id="firstName" name="firstName"
                                           required/>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" required/>
                                </div>
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="text" class="form-control" id="contact" name="contact" required/>
                                </div>
                                <div class="familyDropP">
                                    <div class="form-group">
                                        <label>Family</label>
                                        <select id="family" name="familyId" class="selectpicker mt-1 mb-2 w-100"
                                                title="Select family..." data-live-search="true">
                                            <option value="0">None</option>
                                            <option th:each="family : ${families}"
                                                    th:value="${family.id}"
                                                    th:text="${family.familyName}">Family Name
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default close" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-secondary" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- De-Activate Modal HTML-->
        <div class="deactivatePersonForm">
            <form th:action="@{confirmDeactivatePerson}" method="post">
                <div id="de-activatePersonModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">De-activate Person</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to de-activate these Records?</p>
                                <input type="hidden" value="" id="id" name="id"/>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default close" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="De-activate">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Details Modal HTML -->
        <div class="detailsPersonForm">
            <div id="detailsPersonModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Person Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" value="" id="id" name="id"/>
                                <label>First Name</label>
                                <input type="text" value="" class="form-control" id="firstName" name="firstName"
                                       disabled/>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" disabled/>
                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <input type="text" class="form-control" id="contact" name="contact" disabled/>
                            </div>
                            <div class="familyDropP">
                                <div class="form-group">
                                    <label>Family</label>
                                    <select id="family" name="familyId" class="selectpicker mt-1 mb-2 w-100" disabled>
                                        <option value="0">None</option>
                                        <option th:each="family : ${families}"
                                                th:value="${family.id}"
                                                th:text="${family.familyName}">Family Name
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default close" data-dismiss="modal" value="Close">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Laps Modal -->
        <div class="editLapsForm">
          <form th:action="@{editLaps}" method="post">
              <div id="editLapsModal" class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Edit Laps</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                              </button>
                          </div>
                          <div class="modal-body">
                              <div class="form-group">
                                  <input type="hidden" value="" id="id" name="id"/>
                                  <label>Laps Amount</label>
                                  <input type="text" value="" class="form-control" id="laps" name="laps" required/>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <input type="button" class="btn btn-default close" data-dismiss="modal" value="Cancel">
                              <input type="submit" class="btn btn-secondary" value="Save">
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
    </div>
</div>

<div th:insert="footer :: foot"></div>

</body>
</html>